<#include "/views/common/layout.html" /> 
<@layout_head>
</@layout_head> 
<@layout_body>
<section>
	<div class="section-header">
		<h4 class="text-primary">&nbsp;&gt;&nbsp;关于</h4>&nbsp;&nbsp;
		
	</div>
	<div class="section-body">
	<div class="card">
	<div class="card-body">
		<div class="row">
			<p>
				Author: &nbsp;yang_huidi<br>
				GitHub: &nbsp;<a href="https://github.com/yanghdx/jccp" target="_blank">https://github.com/yanghdx/jccp</a>
			</p>
		</div>
	</div>
	</div>
	</div>
</section>
</@layout_body>
<@layout_js>
</@layout_js>