<!-- common javascript begin -->
<script src="/jquery/jquery-1.11.2.min.js"></script>
<script src="/ui/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/ui/js/bootstrap.min.js"></script>
<script src="/ui/js/jquery.nanoscroller.min.js"></script>
<script src="/ui/js/jquery.autosize.min.js"></script>
<!-- Put App.js last in your javascript imports -->
<script src="/ui/js/App.min.js"></script>
<script src="/ui/js/AppNavigation.js"></script>
<script src="/ui/js/AppOffcanvas.js"></script>
<script src="/ui/js/AppCard.js"></script>
<script src="/ui/js/AppForm.js"></script>
<script src="/ui/js/AppNavSearch.js"></script>
<script src="/ui/js/AppVendor.js"></script>
<!-- common javascript end -->
